@media screen and (max-width: 1400px) {
  .project-main .project-main-pic {
    width: 700px; }
  .project-main .project-main-content {
    margin-left: 700px; }
  .project-contents .project-content-left {
    width: 600px; }
  .project-contents .project-content-right {
    margin-left: 600px; } }

@media screen and (max-width: 1100px) {
  .project-main {
    height: auto; }
    .project-main .project-main-pic {
      width: 100%;
      height: 450px;
      float: none; }
    .project-main .project-main-content {
      margin-left: 0;
      padding-top: 0; }
      .project-main .project-main-content .project-amout {
        margin-top: 0; }
      .project-main .project-main-content .project-progressbar {
        margin-top: 20px;
        margin-bottom: 20px; }
  .project-contents .project-content-left {
    width: 100%;
    float: none; }
  .project-contents .project-content-right {
    margin-left: 0;
    width: 100%;
    padding-top: 0; }
    .project-contents .project-content-right .project-repay .project-repay-list {
      margin-top: 10px; }
      .project-contents .project-content-right .project-repay .project-repay-list .repay-detail:after {
        display: block;
        content: "";
        clear: left; } }

@media screen and (max-width: 800px) {
  .project-main .project-main-pic {
    height: auto;
    padding: 20px; } }

@media screen and (max-width: 700px) {
  .project-info {
    height: 80px; }
    .project-info .project-info-avatar {
      padding-left: 30px;
      padding-top: 15px;
      height: 50px;
      width: 50px; }
    .project-info .project-info-detail {
      margin-left: 80px; }
      .project-info .project-info-detail .project-info-title {
        padding-top: 10px; }
        .project-info .project-info-detail .project-info-title h1 {
          font-size: 1.5rem; }
      .project-info .project-info-detail .project-info-username {
        padding-top: 0; }
  #project-feed .project-feed-card .feed-card-wrap .feed-card-left {
    width: 50px; }
    #project-feed .project-feed-card .feed-card-wrap .feed-card-left .feed-card-avatar {
      width: 40px;
      height: 40px;
      margin-left: 15px; }
  #project-feed .project-feed-card .feed-card-wrap .feed-card-right {
    margin-left: 50px; }
  #project-feed .project-feed-block .feed-block-wrap .feed-block-left {
    width: 50px; }
    #project-feed .project-feed-block .feed-block-wrap .feed-block-left .feed-block-avatar {
      width: 40px;
      height: 40px;
      margin-left: 15px; }
  #project-feed .project-feed-block .feed-block-wrap .feed-block-right {
    margin-left: 50px; }
    #project-feed .project-feed-block .feed-block-wrap .feed-block-right .feed-block-detail {
      width: 98%; } }

@media screen and (max-width: 500px) {
  .project-main .project-main-pic {
    height: auto;
    padding: 10px; }
  #project-feed .project-feed-card .feed-card-wrap .feed-card-right .feed-card-detail .feed-card-detail-pic img {
    float: none;
    width: 100%; } }

@media screen and (max-width: 400px) {
  .project-contents .project-content-right .project-repay .project-repay-list {
    min-height: 95px; }
    .project-contents .project-content-right .project-repay .project-repay-list .repay-detail .repay-detail-pic {
      width: 60px;
      height: 60px; }
    .project-contents .project-content-right .project-repay .project-repay-list .repay-detail .repay-detail-content {
      margin-left: 60px;
      padding-left: 20px; } }
