@@include('include/head.html',{"title": "发起项目 | FAN$","csstype": "initiation"})
@@include('include/header.html',{"page": "initiation"})
  <div class="container" id="initiation">
    <div class="kit-progress-tab">
      <ul>
        <li class="kit-tab FFtab">基础信息</li>
        <li class="kit-tab FFtab">填写详情</li>
        <li class="kit-tab FFtab">设置回报</li>
        <li class="kit-tab FFtab">预览项目</li>
      </ul>
    </div>
    <div class="initiation-progress">
      <div class="FFtab-content">
        <div class="progress-title progress-content">
          <input type="text" id="progress-title-input" placeholder="请填写标题" v-model="project.title">
        </div>
        <div class="progress-content">
          <div class="progress-time progress-info">
            <div class="progress-info-hint">截至日期</div>
            <div class="progress-info-wrap">
              <input id="time-end" type="date" class="rome progress-info-input" readonly>
            </div>
          </div>
          <div class="progress-money progress-info">
            <div class="progress-info-hint">筹款金额</div>
            <div class="progress-info-wrap">
              <input id="support-money" type="num" class="progress-info-input" v-model="project.money">
            </div>
          </div>
          <div class="progress-description progress-info">
            <div class="progress-info-hint">项目简介</div>
            <div class="progress-info-wrap">
              <input id="support-money" type="text" class="progress-info-input" v-model="project.intro">
            </div>
          </div>
        </div>
        <div class="progress-cover progress-content">
          <div class="upload-cover-title">上传封面</div>
          <div class="upload-cover-wrap">
            <img id="upload-cover-img" accept="image/png,image/jpeg,image/gif" src="" alt="">
          </div>
          <input type="file" id="upload-cover-input" @change="cropCover">
          <div id="upload-cover-btn" class="FFbtn" @click.prevent="selectCover">选择图片</div>
          <div id="upload-cover-preview"></div>
        </div>
      </div>
      <div class="progress-content FFtab-content">
        <textarea id="editor"></textarea>
      </div>
      <div class="progress-content FFtab-content">
        <div class="add-feedback-btn FFbtn" @click.prevent="addFeedback">添加回报项</div>
        <div class="progress-feedback">
          <ul>
            <li class="feedback-list" v-for="(index, feedback) in feedbacks.list">
              <div class="feedback-wrap-money feedback-wrap">
                <div class="feedback-hint">回报项金额</div>
                <div class="feedback-input-wrap">
                  <input type="num" class="feedback-input" v-model="feedback.limitation">
                </div>
              </div>
              <div class="feedback-wrap-content feedback-wrap">
                <div class="feedback-hint">回报项内容</div>
                <div class="feedback-textarea-wrap">
                  <textarea class="feedback-textarea" v-model="feedback.description"></textarea>
                </div>
              </div>
              <div class="feedback-wrap-images feedback-wrap">
                <div class="feedback-hint">回报项图片</div>
                <div class="feedback-images-preview-list">
                  <div class="feedback-image-preview" v-for="(imgIndex,image) in feedback.images">
                    <img :src="image" alt="">
                    <div class="feedback-image-preview-btn" @click.prevent="deleteFeedbackImage(index, imgIndex)"></div>
                  </div>
                </div>
                <div class="feedback-image-btn" v-if="feedback.images.length < 3">
                  <input type="file" name="file" @change="loadFeedbackImage(index, $event)">
                  <p>上传图片</p>
                </div>
              </div>
              <div class="feedback-btn FFbtn" @click.prevent="removeFeedback(index)">删除此项</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="progress-content FFtab-content">
        <div class="progress-bar"><span v-bind:style="{width: request.progress + '%'}"></span></div>
        <div>{{request.progress | currency '' 0}}%</div>
        <div>点击右下角完成发起项目</div>
      </div>
    </div>
    <div id="initiation-errormsg" v-if="error">{{errormsg.join("，")}}</div>
    <div class="initiation-step">
      <div class="initiation-step-btn step-prev" v-if="step != 1" @click.prevent="prevStep">上一步</div>
      <div class="initiation-step-btn step-next" v-if="step != totalStep" @click.prevent="nextStep">下一步</div>
      <div class="initiation-step-btn step-next" v-if="step == totalStep" @click.prevent="initializeProject">完成</div>
    </div>
  </div>
@@include('include/footer.html')
@@include('include/script.html',{"jstype": "initiation_vue"})
