@@include('include/head.html',{"title": "支付订单 | FAN$","csstype": "order"})
@@include('include/header.html',{"page": "order"})
  <div class="container" id="order">
    <div class="kit-progress-tab">
      <ul>
        <li class="kit-tab FFtab">确认订单</li>
        <li class="kit-tab FFtab">确认支付</li>
        <li class="kit-tab FFtab">支付成功</li>
      </ul>
    </div>
    <div class="order-progress">
      <div class="FFtab-content"id="order-info">
        <div class="block-title">订单信息</div>
        <div class="kit-wrap">
          <div class="kit-group" id="order-project">
            <div class="kit-block kit-content">
              <div id="order-project-info">
                <div class="project-cover">
                  <img :src="project.data.cover | resource" alt="">
                </div>
                <div class="project-content">
                  <div class="project-title">{{project.data.name}}</div>
                  <div class="project-description">{{project.data.description}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="kit-group" id="order-feedback">
            <div class="kit-block kit-content">
              <div class="feedback-money">支持<span>4214214</span>元</div>
              <div class="feedback-num">已支持<span>{{feedback.supportTimes}}</span>人</div>
              <div class="feedback-detail">
                <div class="feedback-detail-content">辛寨黄托和ATI和晒h艾诺钟爱弄晒怒海诺还能</div>
                <div class="feedback-detail-pics">
                  <div class="feedback-detail-pic" v-for="image in feedback.images">
                    <img v-bind:src="image | resource" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block-title">地址选择</div>
        <div class="kit-wrap" id="order-address">
          <div class="address-list selected">
            <div class="kit-block kit-content address-block">
              <div>
                <div class="address-content">
                  <span class="address-hint">姓名：</span>
                  <span class="address-inner">嘤嘤嘤</span>
                </div>
                <div class="address-content">
                  <span class="address-hint">省市区：</span>
                  <span class="address-inner">湖北省武汉市洪山区</span>
                </div>
                <div class="address-content">
                  <span class="address-hint">详细地址：</span>
                  <span class="address-inner">国际软件国际软件学院国际软件学院国际软件学院国际软件学院国际软件学院国际软件学院国际软件学院学院</span>
                </div>
                <div class="address-content">
                  <span class="address-hint">邮编：</span>
                  <span class="address-inner">3213213</span>
                </div>
                <div class="address-content">
                  <span class="address-hint">电话：</span>
                  <span class="address-inner">13245678945</span>
                </div>
              </div>
              <div class="address-default default">默认地址</div>
            </div>
          </div>
        </div>
      </div>
      <div class="FFtab-content">
        <div class="block-title">订单信32息</div>
      </div>
      <div class="FFtab-content">
        <div class="block-title">订单信23息</div>
      </div>
    </div>
    <div class="order-step">
      <div class="order-step-btn step-prev" v-if="step != 1" @click.prevent="prevStep">上一步</div>
      <div class="order-step-btn step-next" v-if="step != totalStep" @click.prevent="nextStep">下一步</div>
      <div class="order-step-btn step-next" v-if="step == totalStep" @click.prevent="initializeProject">完成</div>
    </div>
  </div>


@@include('include/footer.html')
@@include('include/script.html',{"jstype": "order"})
