@@include('include/head.html',{"title": "设置 | FAN$","csstype": "setting"})
@@include('include/header.html',{"page": "null"})
  <div class="container">
    <div class="setting-wrap" id="setting">
      <div class="block-title">个人设置</div>
      <div class="kit-block">
        <div class="kit-tabs">
          <ul>
            <li class="kit-tab FFtab">基本资料</li>
            <li class="kit-tab FFtab">安全设置</li>
            <li class="kit-tab FFtab">地址管理</li>
          </ul>
        </div>
        <div class="setting-contents">
          <div class="FFtab-content">
            <div class="setting-content" id="setting-profile">
              <div class="setting-list">
                <span class="setting-hint">头像：</span>
                <div class="setting-inner" id="setting-avatar">
                  <div>
                    <img id="now-avatar" :src="userInfo.head | resource" alt="">
                  </div>
                  <a href="avatar.html" class="FFbtn">修改头像</a>
                </div>
              </div>
              <div class="setting-list">
                <span class="setting-hint">昵称：</span>
                <div class="setting-inner" id="setting-nickname">
                  <input type="text" class="kit-input kit-input-short" id="nickname-input" v-model="userInfo.nickname">
                  <div class="setting-input-hint"></div>
                </div>
              </div>
              <div class="setting-list">
                <span class="setting-hint">性别：</span>
                <div class="setting-inner kit-check" id="setting-sex">
                  <label>
                    <input type="radio" class="kit-check" value="1" name="sex" v-model="userInfo.realInfo.sex">
                    <span class="check-arrow"></span>
                    <span class="check-text">男</span>
                  </label>
                  <label>
                    <input type="radio" class="kit-check" value="0" name="sex" v-model="userInfo.realInfo.sex">
                    <span class="check-arrow"></span>
                    <span class="check-text">女</span>
                  </label>
                  <div class="setting-input-hint"></div>
                </div>
              </div>
              <div class="setting-list">
                <span class="setting-hint">邮箱：</span>
                <div class="setting-inner" id="setting-email">
                  <input type="email" class="kit-input kit-input-short" id="email-input" v-model="userInfo.email">
                  <div class="setting-input-hint"></div>
                </div>
              </div>
              <div class="setting-list">
                <span class="setting-hint">个人简介：</span>
                <div class="setting-inner" id="setting-intro">
                  <input type="text" class="kit-input" id="intro-input" v-model="userInfo.intro">
                  <div class="setting-input-hint"></div>
                </div>
              </div>
              <div class="setting-alert" id="profile-alert" v-show="profile.alert.show">{{profile.alert.text}}</div>
              <div class="setting-submit FFbtn" id="profile-submit" @click.prevent="uploadProfile">保存信息</div>
            </div>
          </div>
          <div class="FFtab-content">
            <div class="setting-content" id="setting-security"></div>
          </div>
          <div class="FFtab-content">
            <div class="setting-content" id="setting-address">地址目前只有在订单页才有</div>
          </div>
        </div>
      </div>
    </div>
  </div>
@@include('include/footer.html')
@@include('include/script.html',{"jstype": "setting"})
