@@include('include/head.html',{"title": "个人空间 | FAN$","csstype": "space"})
@@include('include/header.html',{"page": "space"})
  <div class="container">
    <div class="content-wrap" id="space">
      <div class="block-title">用户空间</div>
      <div class="space-wrap">
        <div class="group-wrap" id="user-group">
          <div class="kit-block" id="user-info">
            <div class="user-header">
              <div class="user-avatar"><img v-bind:src="spaceUserInfo.head | resource"  alt=""></div>
              <div class="user-info">
                <div class="user-name"><span v-cloak>{{ spaceUserInfo.nickname }}</span></div>
                <div class="user-intro">{{ spaceUserInfo.intro }}</div>
              </div>
            </div>
            <div class="kit-bottombar" v-if="!isSelf">
              <div class="kit-bottombar-btn" :class="{'active': isFollowed}" @click.prevent="followUser">{{ isFollowed ? "已关注" : "关注"}}</div>
            </div>
          </div>
          <div class="kit-block">
            <div class="">
               <ul>
                 <li class="user-data-list">
                   <div class="user-data-follow">关注<span></span></div>
                   <div class="user-data-fans">粉丝<span></span></div>
                 </li>
                 <li class="user-data-list">
                   支持的项目<span>{{projects.support.count}}</span>
                 </li>
                 <li class="user-data-list">
                   发布的动态<span></span>
                 </li>
                 <li class="user-data-list">
                   发起的项目<span>{{projects.sponsor.count}}</span>
                 </li>
               </ul>
            </div>
          </div>
        </div>
        <div class="group-wrap" id="content-group">
          <div class="kit-block">
            <div class="kit-tabs FFtabs">
              <ul>
                <li class="kit-tab FFtab">最近项目</li>
                <li class="kit-tab FFtab">最近动态</li>
                <li class="kit-tab FFtab" v-show="isSelf">我的订单</li>
              </ul>
            </div>
          </div>
          <div class="FFtab-contents">
            <div class="kit-wrap FFtab-content">
              <div class="kit-block">
                <div class="kit-title">
                  <span class="kit-title-left">发起</span>
                  <span class="kit-title-right"><a href="">更多</a></span>
                </div>
                <div class="kit-content">
                  <template id="space-project-list-template">
                    <div class="space-kit-hint" v-if="projects.length == 0">没有相关项目</div>
                    <ul>
                      <li class="space-project-list" v-for="project in projects">
                        <a href="project-vue.html?categoryId={{project.categoryId}}&id={{project.id}}">
                          <div class="project-cover">
                            <img :src="project.cover | resource" alt="">
                          </div>
                          <div class="project-content">
                            <div class="project-title">{{project.name}}</div>
                            <div class="project-description">{{project.description}}</div>
                            <div class="project-detail">
                              <div class="project-detail-info project-lefttime">
                                剩余时间：<span>{{ getLeftTime(new Date(), project.targetDeadline) }}</span>
                              </div>
                              <div class="project-detail-info project-target">
                                目标金额：<span>{{project.targetMoney | currency '￥' 0}}</span>
                              </div>
                              <div class="project-detail-info project-progress">
                                已达成：<span>{{project.sum/project.targetMoney | currency '' 2}}</span>%
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </template>
                  <space-project-list :projects="projects.sponsor.list.slice(0,3)">
                  </space-project-list>
                </div>
              </div>
              <div class="kit-block">
                <div class="kit-title">
                  <span class="kit-title-left">关注</span>
                  <span class="kit-title-right"><a href="">更多</a></span>
                </div>
                <div class="kit-content">
                  <space-project-list :projects="projects.follow.list.slice(0,3)">
                  </space-project-list>
                </div>
              </div>
              <div class="kit-block">
                <div class="kit-title">
                  <span class="kit-title-left">支持</span>
                  <span class="kit-title-right"><a href="">更多</a></span>
                </div>
                <div class="kit-content">
                  <space-project-list :projects="projects.support.list.slice(0,3)">
                  </space-project-list>
                </div>
              </div>
            </div>
            <div class="kit-wrap FFtab-content">
              <div class="kit-block">
                <div class="kit-title">
                  <span class="kit-title-left">动态</span>
                  <span class="kit-title-right"><a href="">更多</a></span>
                </div>
                <div class="kit-content">

                </div>
              </div>
            </div>
            <div class="kit-wrap FFtab-content">
              <div class="kit-block">
                <div class="kit-title">
                  <span class="kit-title-left">订单</span>
                  <span class="kit-title-right"><a href="">更多</a></span>
                </div>
                <div class="kit-content">
                  <template id="space-order-list-template">
                    <div class="space-kit-hint" v-if="orders.length == 0">没有订单</div>
                    <ul>
                      <li class="space-order-list" v-for="order in orders">
                        <a href="order-result.html?orderNo={{order.orderNo}}">
                          <div class="order-cover">
                            <img :src="order.feedbackImages[0] | resource" alt="">
                          </div>
                          <div class="order-content">
                            <div class="order-title">{{order.projectName}}</div>
                            <div class="order-feedback-title">{{order.feedbackTitle}}</div>
                            <div class="order-detail">
                              <div class="order-detail-no">{{order.tradeNo}}</div>
                              <div class="order-detail-time">{{getTime(order.paidTime)}}</div>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </template>
                  <space-order-list :orders="orders.list.slice(0,3)"></space-order-list>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
@@include('include/footer.html')
@@include('include/script.html',{"jstype": "space"})
