@charset "utf-8";
@import "theme/color.scss";
@import "import/font-awesome.scss";
@import "import/cropper.min.scss";

.setting-info{
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #aaaaaa;
  .setting-info-detail{
    height: 100%;
    line-height: 80px;
    .setting-info-title{
      padding-left: 50px;
      h1{
        font-size: 2rem;
      }
    }
  }
}
.setting-contents{
  .setting-content{
    clear: both;
    padding: 30px 60px;
    box-sizing: border-box;
  }
}
#setting-profile{
  .setting-profile-list{
    margin-top: 40px;
    clear: both;
    width: 100%;
    >span{
      font-size: 1.5rem;
      display: block;
      float: left;
      width: 100px;
      height: 100%;
      padding-left: 50px;
    }
    &:first-child{
      margin-top: 20px;
    }
  }
  #setting-avatar{
    .setting-avatar-wrap{
      display: block;
      .cropper-wrap{
        width: 500px;
        height: 300px;
        margin-left: 120px;
      }
      img{
        display: block;
        width: 200px;
        height: 200px;
      }
      input[type="file"]{
        display: none;
      }
      a{
        line-height: 60px;
        text-align: center;
        display: block;
        width: 180px;
        height: 60px;
        font-size: 1.6rem;
        background-color: $color_main;
        color: white;
        transition: all 0.3s ease;
        margin-left: 120px;
        margin-top: 30px;
        &:hover{
          background-color: darken($color_main,10%);
        }
      }
    }
  }
  .setting-profile-submit{
    clear: both;
    margin-top: 20px;
    a{
      display: block;
      text-align: center;
      width: 180px;
      height: 60px;
      line-height: 60px;
      font-size: 1.6rem;
      background-color: $color_main;
      color: white;
      transition: all 0.3s ease;
      margin-left: 120px;
    }
  }
}


@media screen and (max-width: 600px) {
  .setting-contents{
    .setting-content{
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  #setting-profile{
    .setting-profile-list{
      >span{
        padding-left: 20px;
      }
    }
    .setting-profile-submit{
      a{
        margin: auto;
      }
    }
  }
}
