@charset "utf-8";
@import "theme/color.scss";
@import "theme/variables.scss";
@import "import/font-awesome.scss";

.comment-login{
  font-size: 1.1rem;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid $color_disabled;
}
.comment-text{
  border-bottom: 1px solid $color_disabled;
  padding-bottom: 20px !important;
  margin-top: 0 !important;
  margin-bottom: 20px;
  .comment-input{
    margin-left: 140px;
    padding: 0 20px;
    box-sizing: border-box;
    textarea{
      width: 100%;
      height: 90px;
      box-sizing: border-box;
      padding: 10px;
      resize: none;
      border: 1px solid $color_disabled;
    }
    .comment-input-more{
      color: $color_disabled;
      margin-top: 10px;
      width: 100%;
      &:after{
        display: block;
        content: "";
        clear: both;
      }
      .comment-hint{
        width: 100px;
        line-height: 30px;
        float: left;
        &.overflow{
          color: $color_red_1;
        }
      }
      .comment-submit{
        float: right;
        width: 100px;
        height: 30px;
        cursor: pointer;
        color: $color_text_light;
        background-color: $color_red_1;
        text-align: center;
        line-height: 30px;
        @include transition_all();
        &:hover{
          background-color: $color_primary;
        }
      }
    }
  }
}
.comment-wrap{
  clear: both;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  margin-top: 20px;
  padding-bottom: 20px;
  position: relative;
  border-bottom: 1px solid $color_disabled;
  &:first-child{
    margin-top: 0;
  }
  &:last-child{
    border-bottom: 0;
    padding-bottom: 5px;
  }
  .comment-userinfo{
    width: 140px;
    float: left;
    &:after{
      content: "";
      clear: both;
      display: block;
    }
    .comment-avatar{
      margin: auto;
      width: 60px;
      height: 60px;
      img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .comment-userinfo-name{
      text-align: center;
      font-size: 1.1rem;
      padding-top: 10px;
    }
    .comment-userinfo-intro{
      padding-top: 5px;
      color: $color_disabled;
    }
  }
  .comment-content{
    margin-left: 140px;
    padding: 0 20px;
    box-sizing: border-box;
    .comment-inner{
      font-size: 1.1rem;
      min-height: 70px;
    }
    .comment-images{
      &:after{
        content: "";
        display: block;
        clear: both;
      }
      .comment-image{
        width: 120px;
        height: 120px;
        float: left;
        padding-top: 20px;
        padding-right: 20px;
        overflow: hidden;
        img{
          width: 100%;
          min-height: 100%;
        }
      }
    }
    .comment-more{
      color: $color_disabled;
      margin-top: 10px;
      width: 100%;
      &:after{
        content: "";
        clear: both;
        display: block;
      }
      .comment-time{
        width: 80px;
        float: left;
      }
      .comment-btns{
        float: right;
        margin-right: 10px;
        .comment-btn{
          margin-right: 15px;
          float: right;
          cursor: pointer;
          &:first-child {
            margin-right: 0;
          }
        }
        .comment-reply{
          color: $color_red_2;
        }
        .comment-like{
          &:before{
            font-size: 1.1rem;
            padding-right: 2px;
            @include font_icon_content($fa-var-thumbs-up);
          }
          &.liked{
            color: $color_red_2;
          }
        }
      }
    }
  }
}


.inner-comment{
  @extend %kit_shadow_default;
  @extend %kit_border_default;
  box-sizing: border-box;
  padding: 15px 10px 0;
  margin-top: 10px;
  background-color: $color_background_gray;
  position: relative;
  &:before{
    display: block;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 78px;
    border-bottom: 10px solid $color_background_gray;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  .kit-loader{
    padding-top: 15px;
    padding-bottom: 25px;
  }
  .kit-errormsg{
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .kit-pagination{
    padding-bottom: 15px;
    margin-top: 0;
  }
  .comment-wrap{
    min-height: auto;
    padding-bottom: 10px;
    margin-top: 10px;
    &:first-child{
      margin-top: 0;
    }
    .comment-userinfo{
      width: 100%;
      float: none;
      .comment-avatar{
        margin: 0;
        padding-left: 10px;
        width: 35px;
        height: 35px;
        float: left;
        padding-right: 10px;
      }
      .comment-userinfo-name{
        text-align: left;
        font-size: 1.1rem;
        padding-top: 5px;
      }
      .comment-userinfo-intro{
        display: none;
      }
    }
    .comment-content{
      margin-left: 0;
      clear: both;
      padding: 8px 15px 0;
      .comment-inner{
        min-height: auto;
      }
      .comment-more{
        margin-top: 5px;
      }
    }
  }
  .comment-text{
    margin-bottom: 10px;
    padding-bottom: 10px !important;
    .comment-userinfo{
      display: none;
    }
    .comment-input{
      margin-left: 0;
      margin-top: 0;
      padding: 0 10px;
      box-sizing: border-box;
      textarea{
        height: 35px;
        box-sizing: border-box;
        padding: 5px 10px;
        resize: none;
      }
      .comment-input-more{
        margin-top: 5px;
        .comment-hint{;
          line-height: 30px;
        }
        .comment-submit{
          width: 80px;
        }
      }
    }
  }
}
.reply-comment{
  margin-top: 5px;
  padding: 10px 0;
  box-sizing: border-box;
  border: 1px solid $color_disabled;
  background-color: $color_background_light;
  .comment-text{
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
}


@media screen and (max-width: 900px) {
  .comment-text{
    .comment-userinfo{
      width: 100px;
    }
    .comment-input{
      margin-left: 100px;
    }
  }
  .comment-wrap{
    .comment-userinfo{
      width: 100px;
    }
    .comment-content{
      margin-left: 100px;
    }
  }
}
@media screen and (max-width: 600px) {
  .comment-text{
    .comment-input{
      clear: both;
      margin-left: 0;
      margin-top: 15px;
      padding: 0 10px;
      box-sizing: border-box;
      textarea{
        width: 100%;
        height: 120px;
        box-sizing: border-box;
        padding: 10px;
        resize: none;
      }
      .comment-input-more{
        color: $color_disabled;
        margin-top: 10px;
        width: 100%;
        &:after{
          display: block;
          content: "";
          clear: both;
        }
        .comment-hint{
          width: 100px;
          line-height: 30px;
          float: left;
        }
        .comment-submit{
          float: right;
          width: 100px;
          height: 30px;
          cursor: pointer;
          color: $color_text_light;
          background-color: $color_red_1;
          text-align: center;
          line-height: 30px;
          @include transition_all();
          &:hover{
            background-color: $color_primary;
          }
        }
      }
    }
  }
  .comment-wrap{
    min-height: auto;
    padding-bottom: 10px;
    &:last-child{
      padding-bottom: 0;
    }
    .comment-userinfo{
      width: 100%;
      float: none;
      .comment-avatar{
        margin: 0;
        padding-left: 10px;
        width: 50px;
        height: 50px;
        float: left;
        padding-right: 20px;
      }
      .comment-userinfo-name{
        text-align: left;
        font-size: 1.1rem;
        padding-top: 10px;
      }
      .comment-userinfo-intro{
        padding-top: 0;
        font-size: 1rem;
      }
    }
    .comment-content{
      margin-left: 0;
      clear: both;
      padding: 15px 15px 0;
      .comment-inner{
        min-height: auto;
      }
      .comment-more{
        margin-top: 15px;
      }
    }
  }
}
