@charset "utf-8";
@import "theme/color.scss";
@import "theme/variables.scss";
@import "import/font-awesome.scss";
@import "import/cropper.min.scss";
@import "import/rome.min.scss";
@import "import/simditor.scss";

.simditor-body{
  h1, h2, h3, h4 {
      color: #111111;
      font-weight: 400;
  }
  h1, h2, h3, h4, h5, p {
      margin-bottom: 18px;
      padding: 0;
  }
  p{
    text-indent: 2em;
  }
  h1 {
      font-size: 48px;
  }
  h2 {
      font-size: 36px;
  }
  h3 {
      font-size: 24px;
  }
  h4 {
      font-size: 21px;
  }
  h5 {
      font-size: 18px;
  }
  a {
      color: #0099ff;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
  }
  a:hover {
      text-decoration: none;
      color: #ff6600;
  }
  a:visited {
      color: purple;
  }
  ul, ol {
      padding: 0;
      margin: 0;
      margin-left: 20px;
      margin-bottom: 10px;
  }
  ul li{
    list-style: disc;
  }
  ol li{
    list-style: decimal;
  }
  li {
      line-height: 24px;
  }
  li ul, li ul {
      margin-left: 24px;
  }
  p, ul, ol {
      font-size: 16px;
      line-height: 24px;
  }
  hr {
      width: 540px;
      text-align: left;
      margin: 0 auto 0 0;
      color: #999;
  }
  img{
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
  table th,table td{
    vertical-align: middle !important;
    text-align: center !important;
  }
}

.FFbtn{
  width: 120px;
  background-color: $color_red_1;
  color: $color_text_light;
  text-align: center;
  line-height: 40px;
  height: 40px;
  font-size: 1.2rem;
  cursor: pointer;
  @include transition_all();
  &:hover{
    background-color: $color_red_2;
  }
}

.initiation-progressbar{
  @extend %kit_style_default;
  background-color: $color_background_light;
  .initiation-tab{
    width: 25%;
    height: 60px;
    line-height: 60px;
    font-size: 1.4rem;
    text-align: center;
    float: left;
    position: relative;
    cursor: pointer;
    &.FFtab-visited{
      color: $color_disabled;
    }
    &.FFtab-active{
      background-color: $color_red_1;
      color: $color_text_light;
      &:before{
        position: absolute;
        left: -15px;
        top: 0;
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 30px solid $color_red_1;
        border-bottom: 30px solid $color_red_1;
        border-left: 30px solid $color_background_light;
      }
      &:after{
        position: absolute;
        right: -15px;
        top: 0;
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 30px solid $color_background_light;
        border-bottom: 30px solid $color_background_light;
        border-left: 30px solid $color_red_1;
      }
    }
    &:first-child{
      &:before{
        display: none;
      }
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
  }
}
.progress-content{
  @extend %kit_style_default;
  background-color: $color_background_light;
  padding: 20px;
}
#initiation-errormsg{
  @extend %kit_style_default;
  background-color: $color_background_light;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  color: $color_red_1;
}
.initiation-step{
  padding-bottom: 20px;
  .initiation-step-btn{
    width: 120px;
    background-color: $color_red_1;
    color: $color_text_light;
    text-align: center;
    line-height: 40px;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    @include transition_all();
    &:hover{
      background-color: $color_red_2;
    }
  }
  .step-prev{
    margin-left: 10px;
    float: left;
  }
  .step-next{
    margin-right: 10px;
    float: right;
  }
  &:after{
    display: block;
    content: "";
    clear: both;
  }
}
#progress-title-input{
  width: 80%;
  height: 50px;
  display: block;
  line-height: 50px;
  text-align: center;
  font-size: 2rem;
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 2px solid $color_text;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  @include transition_all();
  &:focus, &.error{
    border-bottom-color: $color_red_1;
  }
  &.valid{
    border-bottom-color: $color_green_1;
  }
}
.progress-info{
  width: 33.3%;
  float: left;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  font-size: 1.2rem;
  .progress-info-hint{
    float: left;
    width: 100px;
    text-align: center;
  }
  .progress-info-wrap{
    height: 100%;
    margin-left: 100px;
    position: relative;
  }
  .progress-info-input{
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0;
    box-sizing: border-box;
    border-bottom: 2px solid $color_text;
    &:focus{
      border-bottom-color: $color_red_1;
    }
    &.valid{
      border-bottom-color: $color_green_1;
    }
  }
}
.progress-time{
  .progress-info-input{
    cursor: pointer;
  }
}
.rd-day-head{
  color: $color_primary;
}
.rd-day-selected{
  background-color: $color_red_1;
}
.rd-container{
  font-size: 17px;
  color: $color_text;
  padding: 10px 10px;
  border: 1px solid $color_red_1;
  .rd-day-body {
    padding-left: 8px;
    padding-right: 8px;
  }
}
.progress-description{
  width: 100%;
  margin-top: 20px;
  .progress-info-input{
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.progress-cover{
  padding-left: 40px;
  padding-right: 40px;
  .upload-cover-title{
    font-size: 1.4rem;
    padding-bottom: 10px;
  }
  .upload-cover-wrap{
    width: 600px;
    height: 400px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid $color_text;
    img{
      min-width: 100%;
      min-height: 100%;
    }
  }
  #upload-cover-input{
    display: none;
  }
  #upload-cover-btn{
    width: 120px;
    margin-right: 200px;
    float: left;
    margin-left: 50px;
    margin-top: 40px;
  }
  #upload-cover-preview{
    width: 410px;
    height: 250px;
    margin-left: 50px;
    margin-top: 70px;
    overflow: hidden;
    float: left;
    img{
      max-width: 100%;
    }
  }
}

