@charset "utf-8";
@import "theme/color.scss";
@import "theme/variables.scss";
@import "import/font-awesome.scss";

#order{
  .kit-progress-tab{
    .kit-tab{
      width: 33.3%;
    }
  }
}
.order-step{
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
  .order-submit{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 1.4rem;
    border-radius: 10px;
    &:before{
      @include font_icon_content($fa-var-file-text);
      padding-right: 10px;
    }
  }
  .order-step-two{
    border-radius: 5px;
    width: 40%;
    height: 50px;
    line-height: 50px;
    font-size: 1.4rem;
    display: inline-block;
    &.order-success{
      margin-right: 50px;
    }
    // &.order-failure{
    //   float: right;
    // }
  }
}
#order-project{
  float: left;
  width: 70%;
  box-sizing: border-box;
  padding-right: 10px;
}
#order-feedback{
  float: right;
  width: 30%;
  box-sizing: border-box;
  padding-left: 10px;
}
#order-money{
  float: left;
  width: 70%;
  box-sizing: border-box;
  padding-right: 10px;
  .kit-block{
    margin-top: 0;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    span{
      color: $color_red_1;
      font-size: 2rem;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
#order-project-info{
  width: 100%;
  height: 140px;
  .project-cover{
    width: 210px;
    height: 100%;
    float: left;
    overflow: hidden;
    img{
      min-width: 210px;
      max-width: 250px;
      min-height: 140px;
    }
  }
  .project-content{
    height: 100%;
    margin-left: 210px;
    padding-left: 20px;
    padding-right: 20px;
    color: $color_text;
    position: relative;
    .project-title{
      padding-top: 10px;
      font-size: 1.4rem;
      font-weight: 600;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .project-description{
      font-size: 1.1rem;
      padding-top: 15px;
      height: 60px;
      overflow: hidden;
    }
  }
}
#order-feedback{
  .feedback-money{
    font-size: 1.5rem;
    span{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .feedback-num{
    padding-top: 5px;
    color: $color_disabled;
  }
  .feedback-detail{
    width: 100%;
    padding-top: 5px;
    .feedback-detail-content{
      font-size: 1.1rem;
      ul{
        li{
          list-style-type: disc;
          list-style-position: inside;
        }
      }
    }
    .feedback-detail-pics{
      .feedback-detail-pic{
        margin-top: 10px;
        float: left;
        margin-right: 10px;
        width: 100px;
        height: 100px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      &:after{
        content: "";
        display: block;
        clear: both;
      }
    }
  }
}
#order-address{
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}
.address-list{
  width: 50%;
  font-size: 1.2rem;
  float: left;
  color: $color_text;
  box-sizing: border-box;
  &:nth-child(2n){
    padding-left: 10px;
  }
  &:nth-child(2n+1){
    clear: both;
    padding-right: 10px;
  }
  &:hover{
    .address-default{
      display: block;
    }
  }
  &.selected{
    .address-block{
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-radius: 8px;
      border: 3px solid $color_red_1;
      position: relative;
      &:before{
        position: absolute;
        right: 3px;
        bottom: 0;
        font-size: 1.1rem;
        @include font_icon_content($fa-var-check);
        color: $color_text_light;
        z-index: 10;
      }
      &:after{
        position: absolute;
        display: block;
        content: "";
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-top: 40px solid transparent;
        border-right: 40px solid $color_red_1;
      }
    }
  }
  .address-block{
    cursor: pointer;
    margin-bottom: 0;
    box-sizing: border-box;
    @include transition_all(0.3s, box-shadow);
    &:hover{
      box-shadow: 0 2px 8px 1px rgba(0,0,0,0.3);
    }
  }
  .address-content{
    padding-bottom: 5px;
    &:last-child{
      padding-bottom: 0;
    }
    .address-hint{
      float: left;
      display: block;
      width: 100px;
      text-align: right;
    }
    .address-inner{
      display: block;
      margin-left: 100px;
      padding-left: 5px;
    }
  }
  .address-default{
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1rem;
    cursor: pointer;
    color: $color_disabled;
    &.default{
      display: block;
      cursor: default;
      color: $color_orange_1;
    }
  }
}
#address-add{
  .address-block{
    cursor: default;
  }
  .address-add-mask{
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: $color_background_light;
    text-align: center;
    color: lighten($color_text, 5%);
    &.active{
      display: none;
      & + .address-add-content{
        display: block;
      }
    }
    &:before{
      display: block;
      font-size: 7rem;
      line-height: 120px;
      margin: auto;
      @include font_icon_content($fa-var-cube);
    }
    span{
      display: block;
      padding-top: 5px;
      &:before{
        padding-right: 10px;
        @include font_icon_content($fa-var-plus-circle);
      }
    }
  }
  .address-add-content{
    display: none;
  }
  .address-content{
    padding-bottom: 10px;
    .address-inner{
      input{
        width: 80%;
        height: 100%;
        border: 0;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 1px solid $color_text;
        @include transition_all();
        &:focus{
          border-bottom-color: $color_red_1;
        }
        &.valid{
          border-bottom-color: $color_green_1;
        }
      }
    }
  }
  .FFbtn{
    margin-top: 5px;
  }
}
.pay-info{
  font-size: 1.8rem;
  text-align: center;

}
