@charset "utf-8";
@import "theme/color.scss";
@import "theme/variables.scss";
@import "import/font-awesome.scss";

.project-title{
  font-size: 2.4rem;
  line-height: 80px;
  font-weight: normal;
  text-align: center;
}
.project-intro, .project-initiator{
  height: 500px;
}
.project-wrap, .project-repay{
  height: auto;
}
.project-intro, .project-wrap{
  width: 68%;
  float: left;
  margin-top: 0;
  overflow: hidden;
}
.project-initiator, .project-repay{
  width: 30%;
  float: right;
  margin-top: 0;
  overflow: hidden;
}
.project-intro{
  position: relative;
  .intro-content{
    width: 100%;
    height: 445px;
    .intro-left{
      float: left;
      width: 80%;
      height: 100%;
      overflow: hidden;
      img{
        min-width: 100%;
        min-height: 100%;
      }
    }
    .intro-right{
      float: left;
      width: 20%;
      height: 100%;
    }
    .intro-details{
      .intro-detail{
        height: 25%;
        width: 100%;
        padding: 25px;
        box-sizing: border-box;
        font-size: 1.2rem;
        span{
          font-size: 1.8rem;
        }
      }
      .intro-status{
        margin-top: 25px;
        float: right;
        text-align: center;
        width: 100px;
        font-size: 1.2rem;
        line-height: 40px;
        box-sizing: border-box;
        background-color: $color_red_1;
        color: $color_text_light;
        position: relative;
        &:before{
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: -20px;
          width: 0;
          height: 0;
          border-top: 20px solid $color_red_1;
          border-left: 20px solid transparent;
        }
        &:after{
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: -20px;
          width: 0;
          height: 0;
          border-bottom: 20px solid $color_red_1;
          border-left: 20px solid transparent;
        }
      }
    }
  }
  .intro-btns{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 55px;
    width: 100%;
    line-height: 55px;
    text-align: center;
    font-size: 1.4rem;
    background-color: $color_red_1;
    .intro-btn{
      width: 33.33333%;
      color: $color_text_light;
      background-color: $color_red_1;
      cursor: pointer;
      z-index: 99;
      float: left;
       @include transition_all();
      &:before{
        @include font_icon_content($fa-var-heart);
        font-size: 1.4rem;
        padding-right: 10px;
      }
      &:hover {
        background-color: $color_primary;
      }
      &.followed,&.followed:hover {
        color: $color_red_1;
        background-color: $color_background_light;
      }
    }
    #intro-btn-follow{
      &:before{
        @include font_icon_content($fa-var-heart);
      }
    }
    #intro-btn-share{
      &:before{
        @include font_icon_content($fa-var-share-alt);
      }
    }
  }
}
.project-initiator{
  position: relative;
  .initiator-header{
    .initiator-avatar{
      // float: left;
      padding-top: 45px;
      // padding-left: 25px;
      // padding-right: 25px;
      width: 250px;
      height: 250px;
      margin: auto;
      img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .initiator-info{
      height: 100%;
      padding: 25px;
      box-sizing: border-box;
      .initiator-name{
        text-align: center;
        font-size: 1.4rem;
        font-weight: bold;
        color: $color_text;
      }
      .initiator-intro{
        color: $color_disabled;
        font-size: 1.1rem;
        height: 45px;
        overflow: hidden;
        padding-top: 15px;
      }
    }
  }
  .initiator-content{
    padding: 0 20px;
    text-indent: 2em;
  }
  .initiator-follow{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 55px;
    width: 100%;
    line-height: 55px;
    text-align: center;
    font-size: 1.4rem;
    color: $color_text_light;
    background-color: $color_red_1;
    cursor: pointer;
    z-index: 99;
    @include transition_all();
    &:before{
      @include font_icon_content($fa-var-heart);
      font-size: 1.4rem;
      padding-right: 10px;
    }
    &:hover {
      background-color: $color_primary;
    }
    &.followed,&.followed:hover {
      color: $color_red_1;
      background-color: $color_background_light;
    }
  }
}
.project-repay{
  box-sizing: border-box;
  padding: 20px;
  #repay-errormsg{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .loader{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .repay-title{
    font-size: 1.4rem;
    line-height: 3rem;
    font-weight: bold;
  }
  .repay-num{
    color: $color_disabled;
  }
  .repay-list{
    margin-top: 5px;
    width: 100%;
    border-bottom: 1px solid $color_text;
    padding-bottom: 15px;
    &:first-child{
      margin-top: 0;
    }
    &:last-child{
      border-bottom: 0;
      padding-bottom: 0;
    }
    .repay-money{
      font-size: 1.5rem;
      span{
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    .repay-detail{
      width: 100%;
      .repay-detail-content{
        font-size: 1.1rem;
        ul{
          li{
            list-style-type: disc;
            list-style-position: inside;
          }
        }
      }
      .repay-detail-pics{
        .repay-detail-pic{
          margin-top: 10px;
          float: left;
          margin-right: 20px;
          width: 100px;
          height: 100px;
          img{
            width: 100%;
            height: 100%;
          }
        }
        &:after{
          content: "";
          display: block;
          clear: both;
        }
      }
    }
    .repay-btn{
      cursor: pointer;
      margin-top: 10px;
      clear: both;
      text-align: center;
      font-size: 1.2rem;
      width: 120px;
      height: 40px;
      line-height: 40px;
      color: $color_text_light;
      background-color: $color_red_1;
      @include transition_all();
      &:hover {
        background-color: $color_primary;
      }
    }
  }
}
.project-wrap{
  .project-tabs{
    border-bottom: 1px solid #aaaaaa;
    ul{
      width: 100%;
      height: 55px;
      line-height: 55px;
      box-sizing: border-box;
      .project-tab{
        font-size: 1.3rem;
        text-align: center;
        width: 140px;
        float: left;
        height: 100%;
        cursor: pointer;
        box-sizing: border-box;
        border-bottom: 0;
        @include transition_all(0.15s);
        &:before{
          color: $color_red_1;
          font-size: 1.4rem;
          padding-right: 8px;
        }
      }
      .project-tab:hover, .FFtab-active{
        border-bottom: 4px solid $color_red_1;
      }
      #project-detail-btn{
        &:before{
          @include font_icon_content($fa-var-play);
        }
      }
      #project-comment-btn{
        &:before{
          @include font_icon_content($fa-var-comments);
        }
      }
      #project-moment-btn{
        &:before{
          @include font_icon_content($fa-var-star);
        }
      }
    }
  }
  .project-content{
    padding: 20px;
    display: none;
  }
}
#project-detail{
  #content-loader{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #content-errormsg{
    display: none;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
#project-comment{
  #comment-loader{
    padding-top: 50px;
    padding-bottom: 30px;
  }
  #comment-errormsg{
    display: none;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .comment-login{
    font-size: 1.1rem;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid $color_disabled;
  }
}
.comment-text{
  display: none;
  border-bottom: 1px solid $color_disabled;
  padding-bottom: 20px;
  .comment-userinfo{
    width: 140px;
    float: left;
    .comment-avatar{
      margin: auto;
      width: 60px;
      height: 60px;
      img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .comment-userinfo-name{
      text-align: center;
      font-size: 1.1rem;
      padding-top: 10px;
    }
    .comment-unerinfo-intro{
      padding-top: 5px;
      color: $color_disabled;
    }
  }
  .comment-input{
    margin-left: 140px;
    padding: 0 20px;
    box-sizing: border-box;
    textarea{
      width: 100%;
      height: 120px;
      box-sizing: border-box;
      padding: 10px;
      resize: none;
    }
    .comment-input-more{
      color: $color_disabled;
      margin-top: 10px;
      width: 100%;
      &:after{
        display: block;
        content: "";
        clear: both;
      }
      .comment-hint{
        width: 100px;
        line-height: 30px;
        float: left;
        &.overflow{
          color: $color_red_1;
        }
      }
      .comment-submit{
        float: right;
        width: 100px;
        height: 30px;
        cursor: pointer;
        color: $color_text_light;
        background-color: $color_red_1;
        text-align: center;
        line-height: 30px;
        @include transition_all();
        &:hover{
          background-color: $color_primary;
        }
      }
    }
  }
}
.comment-wrap{
  clear: both;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  margin-top: 20px;
  padding-bottom: 40px;
  position: relative;
  border-bottom: 1px solid $color_disabled;
  &:last-child{
    border-bottom: 0;
  }
  .comment-userinfo{
    width: 140px;
    float: left;
    .comment-avatar{
      margin: auto;
      width: 60px;
      height: 60px;
      img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .comment-userinfo-name{
      text-align: center;
      font-size: 1.1rem;
      padding-top: 10px;
    }
    .comment-unerinfo-intro{
      padding-top: 5px;
      color: $color_disabled;
    }
  }
  .comment-content{
    margin-left: 140px;
    padding: 0 20px;
    box-sizing: border-box;
    .comment-inner{
      font-size: 1.1rem;
    }
    .comment-more{
      color: $color_disabled;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 10px;
      .comment-time{
        width: 80px;
        float: left;
        margin-left: 160px;
      }
      .comment-btns{
        float: right;
        margin-right: 30px;
        .comment-btn{
        }
        .comment-reply{
          cursor: pointer;
          color: $color_red_2;
          float: right;
          margin-right: 20px;
        }
        .comment-like{
          cursor: pointer;
          float: right;
          &:before{
            font-size: 1.1rem;
            padding-right: 2px;
            @include font_icon_content($fa-var-thumbs-up);
          }
        }
      }
    }
  }
}


.content-style{
  h1, h2, h3, h4 {
      color: #111111;
      font-weight: 400;
  }
  h1, h2, h3, h4, h5, p {
      margin-bottom: 18px;
      padding: 0;
  }
  p{
    text-indent: 2em;
  }
  h1 {
      font-size: 48px;
  }
  h2 {
      font-size: 36px;
  }
  h3 {
      font-size: 24px;
  }
  h4 {
      font-size: 21px;
  }
  h5 {
      font-size: 18px;
  }
  a {
      color: #0099ff;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
  }
  a:hover {
      text-decoration: none;
      color: #ff6600;
  }
  a:visited {
      color: purple;
  }
  ul, ol {
      padding: 0;
      margin: 0;
      margin-left: 20px;
      margin-bottom: 10px;
  }
  ul li{
    list-style: disc;
  }
  ol li{
    list-style: decimal;
  }
  li {
      line-height: 24px;
  }
  li ul, li ul {
      margin-left: 24px;
  }
  p, ul, ol {
      font-size: 16px;
      line-height: 24px;
      max-width: 540px;
  }
  hr {
      width: 540px;
      text-align: left;
      margin: 0 auto 0 0;
      color: #999;
  }
  img{
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1400px) {
  .project-intro, .project-wrap{
    width: 73%;
  }
  .project-initiator, .project-repay{
    width: 25%;
  }
  .project-initiator{
    .initiator-header{
      .initiator-avatar{
        padding-top: 50px;
        width: 190px;
        height: 190px;
      }
      .initiator-info{
        padding: 30px;
        .initiator-intro{
          padding-top: 15px;
        }
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .project-intro, .project-wrap{
    width: 100%;
  }
  .project-initiator, .project-repay{
    width: 100%;
  }
  .project-initiator{
    position: relative;
    height: 175px;
    .initiator-header{
      .initiator-avatar{
        padding-top: 25px;
        padding-left: 25px;
        width: 80px;
        height: 80px;
        margin: 0;
        float: left;
      }
      .initiator-info{
        margin-left: 100px;
        padding: 40px 40px;
        .initiator-name{
          text-align: left;
        }
        .initiator-intro{
          padding-top: 5px;
        }
      }
    }
    .initiator-follow{
      bottom: 20px;
      left: 15px;
      height: 35px;
      width: 95px;
      line-height: 35px;
      border-radius: 10px;
      font-size: 1.2rem;
      &:before{
        padding-right: 5px;
        font-size: 1.2rem;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .project-intro{
    height: auto;
    .intro-content{
      height: auto;
      .intro-left{
        float: none;
        width: 100%;
        height: 450px;
      }
      .intro-right{
        float: none;
        width: 100%;
        height: auto;
      }
      .intro-details{
        .intro-detail{
          float: left;
          height: auto;
          width: 25%;
          padding: 15px;
          font-size: 1.1rem;
          span{
            font-size: 1.4rem;
          }
        }
        .intro-status{
          margin-top: 22px;
        }
      }
    }
    .intro-btns{
      clear: both;
      position: static;
    }
  }
  .comment-text{
    .comment-userinfo{
      width: 100px;
    }
    .comment-input{
      margin-left: 100px;
    }
  }
  .comment-wrap{
    .comment-userinfo{
      width: 100px;
    }
    .comment-content{
      margin-left: 100px;
      .comment-more{
        .comment-time{
          margin-left: 120px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .project-intro{
    .intro-content{
      .intro-left{
        height: 350px;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .project-intro{
    .intro-content{
      .intro-left{
        height: 300px;
      }
      .intro-details{
        .intro-detail{
          width: 33.3%;
          font-size: 1rem;
          span{
            font-size: 1.3rem;
          }
        }
        .intro-status{
          position: absolute;
          right: 0;
          top: 20px;
          margin-top: 0;
        }
      }
    }
  }
  .project-wrap{
    .project-tabs{
      ul{
        .project-tab{
          font-size: 1.2rem;
          width: 33.333333%;
          &:before{
            font-size: 1.3rem;
            padding-right: 6px;
          }
        }
      }
    }
  }
  .comment-text{
    .comment-userinfo{
      width: 100%;
      float: none;
      .comment-avatar{
        margin: 0;
        margin: 0;
        padding-left: 10px;
        width: 50px;
        height: 50px;
        float: left;
        padding-right: 20px;
      }
      .comment-userinfo-name{
        text-align: left;
        font-size: 1.1rem;
        padding-top: 0;
      }
      .comment-unerinfo-intro{
        padding-top: 0;
        font-size: 1rem;
      }
    }
    .comment-input{
      clear: both;
      margin-left: 0;
      margin-top: 15px;
      padding: 0 10px;
      box-sizing: border-box;
      textarea{
        width: 100%;
        height: 120px;
        box-sizing: border-box;
        padding: 10px;
        resize: none;
      }
      .comment-input-more{
        color: $color_disabled;
        margin-top: 10px;
        width: 100%;
        &:after{
          display: block;
          content: "";
          clear: both;
        }
        .comment-hint{
          width: 100px;
          line-height: 30px;
          float: left;
        }
        .comment-submit{
          float: right;
          width: 100px;
          height: 30px;
          cursor: pointer;
          color: $color_text_light;
          background-color: $color_red_1;
          text-align: center;
          line-height: 30px;
          @include transition_all();
          &:hover{
            background-color: $color_primary;
          }
        }
      }
    }
  }
  .comment-wrap{
    min-height: 100px;
    padding-bottom: 20px;
    &:last-child{
      padding-bottom: 0;
    }
    .comment-userinfo{
      width: 100%;
      float: none;
      .comment-avatar{
        margin: 0;
        padding-left: 10px;
        width: 50px;
        height: 50px;
        float: left;
        padding-right: 20px;
      }
      .comment-userinfo-name{
        text-align: left;
        font-size: 1.1rem;
        padding-top: 0;
      }
      .comment-unerinfo-intro{
        padding-top: 0;
        font-size: 1rem;
      }
    }
    .comment-content{
      margin-left: 0;
      clear: both;
      padding: 15px 10px 0;
      .comment-more{
        color: $color_disabled;
        position: static;
        padding-top: 10px;
        width: 100%;
        .comment-time{
          margin-left: 0;
        }
        .comment-btns{
          margin-right: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .project-wrap{
    .project-tabs{
      ul{
        .project-tab{
          font-size: 1rem;
          width: 33.333333%;
          &:before{
            font-size: 1.1rem;
            padding-right: 6px;
          }
        }
      }
    }
    .project-content{
      padding: 20px 10px;
    }
  }
}
