@charset "utf-8";
@import "theme/color.scss";
@import "theme/variables.scss";
@import "import/font-awesome.scss";
@import "import/cropper.min.scss";

.setting-wrap{
  margin-top: 20px;
  margin-bottom: 30px;
}
.kit-tabs{
  border-bottom: 1px solid $color_disabled;
}
.setting-content{
  clear: both;
  padding: 30px 40px;
}

.setting-list{
  margin-top: 30px;
  clear: both;
  width: 100%;
  &:after{
    clear: both;
    display: block;
    content: "";
  }
  .setting-hint{
    font-size: 1.5rem;
    display: block;
    float: left;
    text-align: right;
    width: 120px;
    height: 100%;
    padding-right: 20px;
  }
  &:first-child{
    margin-top: 20px;
  }
  .setting-inner{
    margin-left: 140px;
    box-sizing: border-box;
    .setting-input-hint{
      color: $color_disabled;
    }
  }
}
.setting-alert{
  text-align: center;
  color: $color_primary;
  font-size: 1.2rem;
  margin-top: 20px;
}
.setting-submit{
  clear: both;
  margin: auto;
  margin-top: 20px;
  width: 80%;
  height: 50px;
  line-height: 50px;
  font-size: 1.4rem;
  border-radius: 10px;
  &:before{
    @include font_icon_content($fa-var-save);
    padding-right: 10px;
  }
}

#setting-profile{
  #setting-avatar{
    >div{
      width: 120px;
      height: 120px;
      overflow: hidden;
      border-radius: 50%;
      float: left;
      img{
        width: 100%;
         height: 100%;
      }
    }
    a{
      float: left;
      margin-top: 40px;
      margin-left: 20px;
    }
  }
  #setting-intro{
    .kit-input{
      max-width: 900px;
      text-align: left;
    }
  }
  #setting-sex{
    label{
      width: 200px;
      text-align: center;
    }
  }
}
#setting-security{

}

#setting-avatar{
  position: relative;
  .avatar-preview-wrap{
    &:after{
      content: "";
      clear: both;
      display: block;
    }
    >div{
      border-radius: 50%;
      overflow: hidden;
      float: left;
      margin-right: 30px;
      &:last-child{
        margin-right: 0;
      }
      img{
        width: 100%;
        height: 100%;
      }
    }
    #avatar-preview-large{
      width: 180px;
      height: 180px;
    }
    #avatar-preview-middle{
      width: 100px;
      height: 100px;
    }
    #avatar-preview-small{
      width: 60px;
      height: 60px;
    }
  }
  .cropper-wrap{
    width: 500px;
    height: 300px;
    display: none;
    margin-top: 20px;
    img{
      display: block;
      width: 200px;
      height: 200px;
    }
  }
  input[type="file"]{
    display: none;
  }
  #upload-avatar-btn{
    margin-top: 20px;
  }
}

#upload-avatar-submit{
  &:before{
    @include font_icon_content($fa-var-upload);
    padding-right: 10px;
  }
}
@media screen and (max-width: 800px) {
  #setting-avatar{
    .cropper-wrap{
      width: 100%;
      height: 300px;
      img{
        width: 10px;
        height: 10px;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .setting-content{
    padding: 20px 15px;
  }
  .setting-list{
    .setting-hint{
      font-size: 1.5rem;
      width: 110px;
      padding-right: 5px;
    }
    .setting-inner{
      margin-left: 115px;
      box-sizing: border-box;
      .setting-input-hint{
        color: $color_disabled;
      }
    }
  }
  #setting-profile{
    #setting-sex{
      label{
        width: 50%;
      }
    }
  }
  #setting-avatar{
    .avatar-preview-wrap{
      >div{
        margin-right: 0;
        float: none;
      }
      #avatar-preview-large{
        width: 180px;
        height: 180px;
      }
      #avatar-preview-middle,#avatar-preview-small{
        display: none;
      }
    }
    .cropper-wrap{
      margin-left: -100px;
      width: 120%;
    }
  }
}
@media screen and (max-width: 500px) {
  .kit-tabs ul .kit-tab{
    width: 33.3333%;
  }
  .setting-content{
    padding: 20px 10px;
  }
  .setting-list{
    .setting-hint{
      font-size: 1.2rem;
      width: 90px;
    }
    .setting-inner{
      margin-left: 95px;
      .kit-input{
        font-size: 1.2rem;
      }
    }
  }
  #setting-avatar{
    .cropper-wrap{
      margin-left: -85px;
      width: 125%;
    }
  }
}
@media screen and (max-width: 400px) {
  #setting-profile{
    #setting-avatar{
      >div{
        width: 70%;
        height: 70%;
        margin: auto;
        overflow: hidden;
        border-radius: 50%;
        float: none;
        img{
          width: 100%;
           height: 100%;
        }
      }
      a{
        float: none;
        margin: auto;
        margin-top: 20px;
      }
    }
  }
  #setting-avatar{
    .cropper-wrap{
      width: 135%;
      height: 270px;
    }
  }
}

