@charset "utf-8";
@import "theme/color.scss";
@import "import/font-awesome.scss";
@import "import/cropper.min.scss";

.setting-wrap{
  margin-top: 20px;
  margin-bottom: 30px;
}
.kit-tabs{
  border-bottom: 1px solid $color_disabled;
}

.setting-wrap{
  .setting-wrap-tabs{

    ul{
      width: 100%;
      height: 50px;
      line-height: 50px;
      box-sizing: border-box;
      padding-left: 20px;
      padding-right: 20px;
      .setting-wrap-tab{
        font-size: 1.3rem;
        text-align: center;
        width: 120px;
        float: left;
        height: 100%;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      .seting-wrap-tab:hover, .tab-active{
        background-color: lighten($color_main,20%);
      }
    }
  }
}
.setting-content{
  clear: both;
  padding: 30px 40px;
}

.setting-list{
  margin-top: 40px;
  clear: both;
  width: 100%;
  &:after{
    clear: both;
    display: block;
    content: "";
  }
  .setting-hint{
    font-size: 1.5rem;
    display: block;
    float: left;
    text-align: right;
    width: 120px;
    height: 100%;
    padding-right: 20px;
  }
  &:first-child{
    margin-top: 20px;
  }
  .setting-inner{
    float: left;
  }
}
.setting-alert{
  text-align: center;
  color: $color_primary;
  font-size: 1.2rem;
  margin-top: 20px;
  display: none;
}
.setting-submit{
  clear: both;
  margin: auto;
  margin-top: 20px;
  width: 80%;
  height: 50px;
  line-height: 50px;
  font-size: 1.4rem;
  border-radius: 10px;
}


#setting-profile{
  .setting-profile-list{
    margin-top: 40px;
    clear: both;
    width: 100%;
    >span{
      font-size: 1.5rem;
      display: block;
      float: left;
      width: 100px;
      height: 100%;
      padding-left: 50px;
    }
    &:first-child{
      margin-top: 20px;
    }
  }
  #setting-avatar{
    height: 100px;
    line-height: 100px;
    .setting-avatar-wrap{
      height: 100%;
      display: block;
      img{
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        float: left;
      }
      input[type="file"]{
        display: none;
      }
      a{
        line-height: 45px;
        text-align: center;
        display: block;
        float: left;
        width: 110px;
        height: 45px;
        font-size: 1.6rem;
        background-color: $color_main;
        color: white;
        transition: all 0.3s ease;
        margin-left: 20px;
        margin-top: 30px;
        &:hover{
          background-color: darken($color_main,10%);
        }
      }
    }
  }
  #setting-nickname{
    height: 60px;
    line-height: 60px;
    .setting-nickname-wrap{
      input{
        width: 230px;
        font-size: 1.2rem;
        padding: 3px 8px;
        box-sizing: border-box;
        transition: all 0.3s ease;
        border: 1px solid #cccccc;
        &:focus{
          border: 1px solid $color_second;
        }
      }
    }
  }
  .setting-profile-submit{
    clear: both;
    margin-top: 40px;
    a{
      display: block;
      text-align: center;
      width: 180px;
      height: 60px;
      line-height: 60px;
      font-size: 1.6rem;
      background-color: $color_main;
      color: white;
      transition: all 0.3s ease;
      margin-left: 120px;
    }
  }
}


@media screen and (max-width: 600px) {
  .setting-contents{
    .setting-content{
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  #setting-profile{
    .setting-profile-list{
      >span{
        padding-left: 20px;
      }
    }
    .setting-profile-submit{
      a{
        margin: auto;
      }
    }
  }
}
