@charset "utf-8";
@import "theme/color.scss";
@import "theme/variables.scss";
@import "import/font-awesome.scss";

//------------通用kit样式--------------
//容纳大多数kit的容器
.content-wrap{
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
}
//分组容器
.group-wrap{}
//容纳kit的容器
.kit-wrap{
  clear: both;
}
//基本kit块
.kit-block{
  @extend %kit_style_default;
  background-color: $color_background_light;
  margin: 20px auto;
  box-sizing: border-box;
  position: relative;
}
//宽度为100%的kit块
.content-block{
  @extend .kit-block;
  width: 100%;
}
//kit中的内容部分
.kit-content{
  box-sizing: border-box;
  padding: 20px;
}
//块标题
.block-title{
  clear: both;
  font-size: 2rem;
  &:before{
    display: inline-block;
    content: "";
    width: 16px;
    height: 28px;
    background-image: url(../img/Title-01.png);
    background-size: cover;
    margin-right: 5px;
    margin-bottom: -4px;
  }
}
.loader{
  height: 25px;
  width: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  &.loaded{
    display: none;
  }
  .loader-inner{
    width: 100%;
    height: 100%;
  }
}
//tab
.kit-tabs{
  ul{
    width: 100%;
    height: 55px;
    line-height: 55px;
    box-sizing: border-box;
    .kit-tab{
      font-size: 1.3rem;
      text-align: center;
      width: 140px;
      float: left;
      height: 100%;
      cursor: pointer;
      box-sizing: border-box;
      border-bottom: 0;
      @include transition_all(0.15s);
      &:before{
        color: $color_red_1;
        font-size: 1.4rem;
        padding-right: 8px;
      }
      &:hover, &.FFtab-active{
        border-bottom: 4px solid $color_red_1;
      }
    }
  }
}
//kit有背景标题
.kit-title{
  height: 55px;
  line-height: 55px;
  width: 100%;
  background-color: $color_red_1;
  color: $color_text_light;
  box-sizing: border-box;
  padding: 0 30px;
  .kit-title-left{
    font-size: 1.4rem;
    &:before{
       @include font_icon_content($fa-var-caret-down);
       padding-right: 10px;
    }
  }
  .kit-title-right{
    float: right;
    font-size: 1.1rem;
  }
  a{
    color: $color_text_light;
  }
}
//kit底部按钮栏
.kit-bottombar{
  height: 55px;
  width: 100%;
  line-height: 55px;
  text-align: center;
  font-size: 1.4rem;
  background-color: $color_red_1;
  .kit-bottombar-btn{
    width: 50%;
    height: 100%;
    color: $color_text_light;
    background-color: $color_red_1;
    cursor: pointer;
    z-index: 99;
    float: left;
     @include transition_all();
    &:before{
      @include font_icon_content($fa-var-heart);
      padding-right: 10px;
    }
    &:hover {
      background-color: $color_primary;
    }
    &.active,&.active:hover {
      color: $color_red_1;
      background-color: $color_background_light;
    }
  }
}
//kit进度tab
.kit-progress-tab{
  @extend %kit_style_default;
  background-color: $color_background_light;
  .kit-tab{
    width: 25%;
    height: 60px;
    line-height: 60px;
    font-size: 1.4rem;
    text-align: center;
    float: left;
    position: relative;
    cursor: pointer;
    &.FFtab-visited{
      color: $color_disabled;
    }
    &.FFtab-active{
      background-color: $color_red_1;
      color: $color_text_light;
      &:before{
        position: absolute;
        left: -15px;
        top: 0;
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 30px solid $color_red_1;
        border-bottom: 30px solid $color_red_1;
        border-left: 30px solid $color_background_light;
      }
      &:after{
        position: absolute;
        right: -15px;
        top: 0;
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 30px solid $color_background_light;
        border-bottom: 30px solid $color_background_light;
        border-left: 30px solid $color_red_1;
      }
    }
    &:first-child{
      &:before{
        display: none;
      }
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
  }
}
