$color_main: #ff6268;
$color_second: #57bff3;
$color_logo: #ffffff;
$color_nav: #ffffff;

// 主要颜色
$color_primary: #ec2c22;
$color_red_1: #ee554d;
$color_red_2: #d65152;

$color_orange_1: #ee7419;
$color_orange_2: #f49e16;

$color_green_1: #5aa133;
$color_green_2: #66b72e;
$color_green_3: #4caa79;

$color_text_dark: #000000;
$color_text: #505050;
$color_disabled: #ababab;

$color_text_light: #ffffff;

$color_background_default: #fdf6f6;


// 细节颜色
//
// -----------公共部分-------------
$color_background_light: #ffffff;
$color_background_light_hover: #eeeeee;


$color_header_border: $color_primary;
$color_footer_border: $color_primary;

$color_header_link: $color_text;
$color_header_link_active: $color_primary;

$color_profile_dropdown_arrow: $color_primary;
$color_profile_dropdown_arrow_background: $color_red_2;

$color_search_icon: $color_primary;
$color_search_icon_background: $color_red_2;

$color_nav_icon: $color_primary;
$color_nav_icon_background: $color_red_2;



//-------------------主页-------------
$color_project_icon: $color_red_1;

$color_project_progressbar_background: #ababab;
$color_project_progressbar: $color_red_1;


//-------------登陆页---------
$color_account_title_border: $color_red_2;
$color_account_icode_btn_background: $color_red_2;
$color_account_link: $color_red_2;


$color_search_shadow: #666666;

$color_profile_dropdown_font: #000000;

$color_profile_dropdown_background: #ffffff;
$color_profile_dropdown_background_hover: #eeeeee;
$color_profile_link: #ffffff;

$color_plate_border: #aaaaaa;
$color_plate_background_hover: rgba(0,0,0,0.1);


$color_footer_background: $color_red_1;
$color_footer_text: #ffffff;
