@charset "utf-8";
@import "import/clear.scss";
@import "theme/color.scss";
@import "import/idangerous.swiper.scss";
@import "import/font-awesome.scss";

%box_shadow_default{
  box-shadow: 0 1px 6px 1px #aaaaaa;
}
%box_shadow_dark{
  box-shadow: 0 1px 6px 1px #666666;
}


// ------内容开始--------
html,body {
  width: 100%;
  height: 100%;
  font-size: 14px;
}

.container{
  width: 1280px;
  margin: auto;
}

#header{
  height: 50px;
  width: 100%;
  background-color: $color_main;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  @extend %box_shadow_dark;
  .logo{
    line-height: 50px;
    font-size: 2.1rem;
    color: $color_logo;
    float: left;
    img{
      display: block;
      margin-top: 7.5px;
      width: 35px;
      height: 35px;
      float: left;
    }
    span{
      display: block;
      float: left;
      padding-left: 10px;
      padding-right: 40px;
    }
  }
  .nav{
    .nav-dropdown-arrow{
      display: none;
    }
    ul{
      li{
        float: left;
        height: 100%;
        line-height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1.4rem;
        color: $color_nav;
        transition: 0.3s all ease;
      }
      li.active, li:hover{
        background-color: rgba(0,0,0,0.2);
      }
    }
  }
  .search{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    position: relative;
    label[for="search-text"]{
      position: absolute;
      top: 3px;
      left: 9px;
      cursor: pointer;
      &:before{
        font-size: 1.1rem;
        @include font_icon_content($search);
      }
    }
    .search-text{
      width: 145px;
      height: 30px;
      line-height: 30px;
      font-size: 1.1rem;
      border: 0;
      border-radius: 15px;
      padding-left: 30px;
      padding-right: 15px;
    }
    .search-submit{
      display: none;
    }
  }
  .profile{
    float: right;
    .profile-login{
      display: none;
    }
    .profile-avatar{
      float: left;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      img{
        display: block;
        width: 40px;
        height: 40px;
        margin: auto;
        margin-top: 5px;
        border-radius: 50%;
      }
    }
    .profile-dropdown{
      float: left;
      position: relative;
      .profile-dropdown-arrow{
        cursor: pointer;
        width: 40px;
        height: 50px;
        padding-top: 10px;
        box-sizing: border-box;
        &:before{
          display: block;
          line-height: 32px;
          height: 30px;
          font-size: 1.2rem;
          content: $angle-down;
          color: $color_profile_dropdown_arrow;
          font-family: "FontAwesome";
          width: 30px;
          text-align: center;
          margin-left: 5px;
          border-radius: 50%;
          transition: all 0.3s ease;
        }
      }
      ul{
        display: none;
        position: absolute;
        top: 50px;
        left: -40px;
        z-index: 999;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        @extend %box_shadow_dark;
        li{
          color: $color_profile_dropdown_font;
          height: 40px;
          line-height: 40px;
          width: 120px;
          text-align: center;
          background-color: $color_profile_dropdown_background;
          transition: all 0.3s ease;
          &:hover{
            background-color: $color_profile_dropdown_background_hover;
          }
        }
      }
      &:hover{
        .profile-dropdown-arrow{
          &:before{
            background-color: red;
          }
        }
        ul{
          display: block;
          -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
        }
      }
    }
    .profile-not-login{
      line-height: 50px;
      margin-right: 5px;
      font-size: 1.1rem;
      a{
        color: white;
        padding-right: 5px;
        padding-left: 5px;
        &:last-child{
          padding-right: 5;
        }
      }
    }
  }
}

//--header end--
.banner{
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  .swiper-slide {
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      min-height: 100%;

    }
  }
  #swiper-button-prev{
    position: absolute;
    left: 20px;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: red;
    z-index: 99;
  }
}

//--banner end--

.wrap{
  width: 100%;
  padding-top: 50px;
}
.mainwrap{
    width: 100%;
  }
.plate{
  clear: both;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  .plate-title{
    text-align: center;
    font-size: 2.5rem;
  }
  .plate-class{
    font-size: 1.3rem;
    text-align: center;
    ul{
      li{
        padding: 2px 10px;
        border: 1px solid #aaa;
        border-radius: 15px;
        color: black;
        display: inline-block;
        margin-top: 10px;
        &:hover{
          transition: 0.3s all ease;
          background-color: rgba(0,0,0,0.1);
        }
      }
    }
  }
  .plate-content{
    >ul{
      .plate-content-list{
        float: left;
        width: 25%;
        margin-top: 20px;
        height: 400px;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        transition: all 0.3s ease;
      }
      &:after{
        display: block;
        content: "";
        clear: both;
        visibility: hidden;
      }
    }
  }
}
.project-card{
  display: block;
  width: 100%;
  height: 100%;
  @extend %box_shadow_default;
  transition: all 0.3s ease;
  &:hover{
    @extend %box_shadow_dark;
  }
  .project-card-pic{
    width: 100%;
    height: 250px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .project-card-detail{
    color: black;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    padding: 10px 20px;
    position: relative;
    .project-card-detail-progressbar{
      margin-top: 15px;
      margin-bottom: 15px;
      width: 100%;
      height: 5px;
      background-color: gray;
      span{
        display: block;
        height: 100%;
        background-color: cyan;
      }
    }
    .project-card-detail-name{
      font-size: 1.2rem;
      span{
        float: right;
      }
    }
  }
}

.footer{
  width: 100%;
  text-align: center;
  background-color: #dddddd;
  .footer-bar{
    width: 100%;
    height: 80px;
    background-color: $color_main;
    line-height: 80px;
    font-size: 3rem;
    color: white;
  }
  .footer-content{
    width: 100%;
    height: 200px;
    .footer-content-left{
      float: left;
      width: 50%;
      height: 100%;
    }
    .footer-content-right{
      float: right;
      width: 50%;
      height: 100%;
    }
  }
  .footer-copyright{
    clear: both;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 1rem;
  }
}

.content-block{
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  box-shadow: 0 3px 7px 2px #aaaaaa;
  min-height: 600px;
  width: 100%;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
