<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fansfunding.project.dao.FeedbackDao" >
  <resultMap id="BaseResultMap" type="com.fansfunding.project.entity.Feedback" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="limitation" property="limitation" jdbcType="DECIMAL" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="DATE" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update feedback
    set del_flag='1'
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.fansfunding.project.entity.Feedback" >
    insert into feedback (project_id, title, 
      description,limitation, create_by, create_time, 
      update_by,update_time)
    values (#{projectId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR},
    #{limitation,jdbcType=DECIMAL},#{createBy,jdbcType=VARCHAR}, NOW(),#{updateBy,jdbcType=VARCHAR},
    NOW())
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fansfunding.project.entity.Feedback" >
    update feedback
    set project_id = #{projectId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      limitation = #{limitation,jdbcType=DECIMAL},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = NOW()
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, project_id, title, description, limitation, create_by, create_time, update_by, update_time, 
    del_flag
    from feedback
    where id = #{id,jdbcType=INTEGER}
    and del_flag='0'
  </select>
  <select id="selectByProjectId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, project_id, title, description, limitation, create_by, create_time, update_by, update_time, 
    del_flag
    from feedback
    where project_id = #{projectId,jdbcType=INTEGER}
    and del_flag='0'
    order by create_time asc
  </select>
</mapper>