<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fansfunding.project.dao.ProjectDao" >
  <resultMap id="BaseResultMap" type="com.fansfunding.project.entity.Project" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="catagory_id" property="catagoryId" jdbcType="INTEGER" />
    <result column="sponsor" property="sponsor" jdbcType="INTEGER" />
    <result column="detail_id" property="detailId" jdbcType="INTEGER" />
    <result column="target_money" property="targetMoney" jdbcType="DECIMAL" />
    <result column="target_deadline" property="targetDeadline" jdbcType="TIMESTAMP" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARBINARY" />
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from project
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fansfunding.project.entity.Project" >
    insert into project (id, catagory_id, sponsor, 
      detail_id, target_money, target_deadline, 
      cover, status, create_by, 
      create_time, update_by, update_time, 
      del_flag, name, description
      )
    values (#{id,jdbcType=INTEGER}, #{catagoryId,jdbcType=INTEGER}, #{sponsor,jdbcType=INTEGER}, 
      #{detailId,jdbcType=INTEGER}, #{targetMoney,jdbcType=DECIMAL}, #{targetDeadline,jdbcType=TIMESTAMP}, 
      #{cover,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=CHAR}, #{name,jdbcType=VARBINARY}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fansfunding.project.entity.Project" >
    update project
    set catagory_id = #{catagoryId,jdbcType=INTEGER},
      sponsor = #{sponsor,jdbcType=INTEGER},
      detail_id = #{detailId,jdbcType=INTEGER},
      target_money = #{targetMoney,jdbcType=DECIMAL},
      target_deadline = #{targetDeadline,jdbcType=TIMESTAMP},
      cover = #{cover,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=CHAR},
      name = #{name,jdbcType=VARBINARY},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, catagory_id, sponsor, detail_id, target_money, target_deadline, cover, 
    status, create_by, create_time, update_by, update_time, del_flag, name, description
    from project
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, catagory_id, sponsor, detail_id, target_money, target_deadline, cover, 
    status, create_by, create_time, update_by, update_time, del_flag, name, description
    from project
  </select>
  <select id="selectByCatagoryId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select id, catagory_id, sponsor, detail_id, target_money, target_deadline, cover, 
    status, create_by, create_time, update_by, update_time, del_flag, name, description
    from project
    where catagory_id=#{catagoryId,jdbcType=INTEGER}
  </select>
</mapper>