@charset "utf-8";
@import "theme/color.scss";
@import "import/font-awesome.scss";

.account-block{
  height: 600px;
  text-align: center;
  &:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
}
.account-block.hide{
  display: none;
}
.account-container{
  width: 300px;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  .account-logo{
    margin: auto;
    width: 80px;
    height: 80px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .account-title{
    font-size: 2rem;
    line-height: 90px;
  }
  .account-form{
    input[type="text"],input[type="tel"],input[type="password"]{
      display: block;
      width: 100%;
      font-size: 1.2rem;
      padding: 3px 8px;
      box-sizing: border-box;
      margin-bottom: 20px;
      transition: all 0.3s ease;
      border: 1px solid #cccccc;
      &:focus{
        border: 1px solid $color_second;
      }
    }
    input[type="text"].error,input[type="tel"].error,input[type="password"].error{
      border-color: $color_main;
      &:focus{
        border: 1px solid $color_second;
      }
    }
    input#signup-icode, input#forgetpwd-icode{
      width: 60%;
    }
    .signup-icode-btn,.forgetpwd-icode-btn{
      display: block;
      float: right;
      width: 35%;
      box-sizing: border-box;
      font-size: 1.2rem;
      height: 34px;
      line-height: 34px;
      background-color: $color_second;
      border: 1px solid $color_second;
      color: white;
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover{
        background-color: darken($color_second,10%);
      }
      &:disabled{
        background-color: #cccccc;
        border-color: #cccccc;
        cursor: not-allowed;
      }
    }
    .account-hint{
      display: none;
      font-size: 1rem;
      margin-bottom: 15px;
      color: $color_main;
    }
    input.error ~ .account-hint{
      display: block;
    }
    .account-btn{
      display: block;
      width: 100%;
      font-size: 1.6rem;
      margin: auto;
      background-color: $color_main;
      color: white;
      padding-top: 5px;
      padding-bottom: 5px;
      transition: all 0.3s ease;
      &:hover{
        background-color: darken($color_main,10%);
      }
    }
  }
  .login-signup-btn,.signup-login-btn,.forgetpwd-login-btn{
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    a{
      color: blue;
      &:hover{
        text-decoration: underline;
      }
    }
    a + a{
      padding-left: 15px;
    }
  }

}
@media screen and (max-width: 400px) {
  .account-container{
    width: 250px;
    .account-form{
      input#signup-icode{
        width: 55%;
      }
      .signup-icode-btn{
        width: 40%;
      }
    }
  }
}
