@charset "utf-8";
@import "theme/color.scss";
@import "import/font-awesome.scss";

.project-info{
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #aaaaaa;
  .project-info-avatar{
    width: 80px;
    height: 80px;
    padding-top: 20px;
    padding-left: 50px;
    float: left;
    img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .project-info-detail{
    margin-left: 130px;
    height: 100%;
    padding-left: 30px;
    .project-info-title{
      padding-top: 25px;
      h1{
        font-size: 2rem;
      }
    }
    .project-info-username{
      padding-top: 5px;
      font-size: 1.1rem;
      span{
        font-size: 1.2rem;
      }
    }
  }
}
.project-main{
  width: 100%;
  height: 450px;
  border-bottom: 1px solid #aaaaaa;
  .project-main-pic{
    width: 900px;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    .project-main-pic-wrap{
      width: 100%;
      height: 100%;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
      }
    }

  }
  .project-main-content{
    margin-left: 900px;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    .project-amout{
      text-align: right;
      margin-top: 50px;
      font-size: 2rem;
      span{
        font-size: 2.3rem;
        padding-right: 10px;
      }
    }
    .project-money{
      text-align: right;
      margin-top: 5px;
      font-size: 2rem;
      span{
        padding-right: 10px;
      }
    }
    .project-progressbar{
      border-radius: 10px;
      overflow: hidden;
      height: 10px;
      width: 100%;
      background-color: blue;
      margin-top: 50px;
      margin-bottom: 50px;
      span{
        display: block;
        height: 100%;
        background-color: red;
      }
    }
    .project-button{
      .project-button-subscribe{
        margin-top: 20px;
        a{
          display: block;
          width: 100%;
          height: 60px;
          line-height: 60px;
          font-size: 2rem;
          text-align: center;
          background-color: $color_main;
          color: white;
          transition: all 0.3s ease;
          &:hover{
            background-color: darken($color_main,10%);
          }
        }
      }
      .project-button-share{
        margin-top: 20px;
        a{
          display: block;
          width: 100%;
          height: 60px;
          line-height: 60px;
          font-size: 2rem;
          text-align: center;
          background-color: $color_main;
          color: white;
          transition: all 0.3s ease;
          &:hover{
            background-color: darken($color_main,10%);
          }
        }
      }
    }
  }
}
.project-wrap{
  .project-wrap-tabs{
    border-bottom: 1px solid #aaaaaa;
    ul{
      width: 100%;
      height: 50px;
      line-height: 50px;
      box-sizing: border-box;
      padding-left: 20px;
      padding-right: 20px;
      .project-wrap-tab{
        font-size: 1.3rem;
        text-align: center;
        width: 120px;
        float: left;
        height: 100%;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      .project-wrap-tab:hover, .tab-active{
        background-color: lighten($color_main,20%);
      }
    }

  }
}
.project-contents{
  .project-content{
    clear: both;
  }
  .project-content.hide{
    display: none;
  }
  .project-content-left{
    float: left;
    width: 880px;
    padding: 20px;
    box-sizing: border-box;
  }
  .project-content-right{
    width: 400px;
    margin-left: 880px;
    box-sizing: border-box;
    padding: 20px;
    .project-repay{
      width: 100%;
      box-sizing: border-box;
      padding: 20px;
      border: 1px solid #aaa;
      .project-repay-title{
        font-size: 1.4rem;
        line-height: 3rem;
        font-weight: bold;
        border-bottom: 1px solid #aaa;
      }
      .project-repay-list{
        width: 100%;
        margin-top: 10px;
        min-height: 30px;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 10px;
        .repay-money{
          font-size: 1.3rem;
          span{
            padding-left: 5px;
            padding-right: 5px;
          }
        }
        .repay-detail{
          width: 100%;
          margin-top: 5px;
          .repay-detail-pic{
            width: 80px;
            height: 80px;
            float: left;
            img{
              width: 100%;
              height: 100%;
            }
          }
          .repay-detail-content{
            // margin-left: 80px;
            padding-left: 20px;
            font-size: 1.1rem;
            ul{
              li{
                list-style-type: disc;
                list-style-position: inside;
              }
            }
          }
        }
      }
      .project-repay-button{
        margin-top: 10px;
        img{
          width: 100%;
          margin: auto;
          display: block;
          margin-bottom: 10px;
        }
        a{
          display: block;
          width: 100%;
          text-align: center;
          font-size: 1.3rem;
          height: 60px;
          line-height: 60px;
          background-color: $color_main;
          color: white;
        }
      }
    }
  }
  &:after{
    display: block;
    content: "";
    clear: both;
    visibility: hidden;
  }
}
#project-detail{
  .project-content-left{
    padding-left: 20px;
    h2{
      font-size: 2rem;
      text-indent: 2em;
      line-height: 5rem;
    }
    img{
      display: block;
      margin: auto;
      width: 95%;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    p{
      font-size: 1.1rem;
      text-indent: 2em;
      margin-bottom: 15px;
    }
    section{
      >p{
        margin-bottom: 0;
      }
      margin-bottom: 15px;
    }
    a{
      font-size: 1.1rem;
      color: blue;
    }
  }
}
#project-feed{
  .project-feed-card{
    width: 100%;
    border-bottom: 1px solid #aaaaaa;
    margin-top: 10px;
    .feed-card-wrap{
      width: 100%;
      .feed-card-left{
        float: left;
        width: 80px;
        .feed-card-avatar{
          width: 60px;
          height: 60px;
          margin-left: 20px;
          margin-top: 10px;
          img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }
      .feed-card-right{
        margin-left: 80px;
        .feed-card-info{
          height: 60px;
          line-height: 60px;
          div{
            float: left;
            margin-left: 20px;
          }
          .feed-card-info-username{
            font-size: 1.2rem;
          }
          .feed-card-info-type{
            font-size: 1.1rem;
          }
        }
        .feed-card-detail{
          width: 100%;
          padding: 20px;
          padding-top: 0;
          box-sizing: border-box;
          .feed-card-detail-pic{
            width: 100%;
            img{
              width: 50%;
              max-width: 400px;
              max-height: 300px;
              padding: 10px;
              box-sizing: border-box;
              float: left;
            }
            &:after{
              display: block;
              content: "";
              clear: left;
            }
          }
        }
      }
    }
  }
  .project-feed-block{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    .feed-block-wrap{
      width: 100%;
      .feed-block-left{
        float: left;
        width: 80px;
        .feed-block-avatar{
          width: 60px;
          height: 60px;
          margin-left: 20px;
          margin-top: 10px;
          img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }
      .feed-block-right{
        margin-left: 80px;
        .feed-block-info{
          height: 60px;
          line-height: 60px;
          div{
            float: left;
            margin-left: 20px;
          }
          .feed-block-info-username{
            font-size: 1.2rem;
          }
          .feed-block-info-type{
            font-size: 1.1rem;
          }
        }
        .feed-block-detail{
          width: 95%;
          padding: 20px;
          padding-top: 0;
          box-sizing: border-box;
          textarea{
            display: block;
            width: 100%;
            box-sizing: border-box;
            font-size: 1.2rem;
            padding: 10px;
            transition: all 0.3s ease;
            &:focus{
              border-color: $color_second;
            }
          }
          #feed-submit{
            display: block;
            float: right;
            margin-top: 20px;
            background-color: $color_main;
            width: 100px;
            height: 40px;
            color: white;
            text-align: center;
            line-height: 40px;
            font-size: 1.2rem;
            transition: all 0.3s ease;
            &:hover{
              background-color: darken($color_main,10%);
            }
          }
          &:after{
            content: "";
            display: block;
            clear: both;
          }
        }
      }
    }
  }
}

