<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fansfunding.user.dao.FollowUserDao" >
  <resultMap id="BaseResultMap" type="com.fansfunding.user.entity.FollowUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="follower_id" property="followerId" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <update id="delete" parameterType="com.fansfunding.user.entity.FollowUser" >
    update follow_user
    set del_flag='1'
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="com.fansfunding.user.entity.FollowUser" >
    insert into follow_user (user_id, follower_id)
    values (#{userId,jdbcType=INTEGER}, #{followerId,jdbcType=INTEGER})
  </insert>
  <select id="select" resultMap="BaseResultMap" parameterType="com.fansfunding.user.entity.FollowUser" >
    select id, user_id, follower_id
    from follow_user
    where user_id = #{userId,jdbcType=INTEGER}
    and 
    follower_id=#{followerId,jdbcType=INTEGER}
  </select>
  <update id="disdelete" parameterType="com.fansfunding.user.entity.FollowUser" >
    update follow_user
    set del_flag='0'
    where user_id=#{userId,jdbcType=INTEGER}
    and
    follower_id=#{projectId,jdbcType=INTEGER}
  </update>
</mapper>