<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fansfunding.user.dao.ShoppingAddressDao" >
  <resultMap id="BaseResultMap" type="com.fansfunding.user.entity.ShoppingAddress" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="is_default" property="isDefault" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="post_code" property="postCode" jdbcType="INTEGER" />
  </resultMap>
  
  <update id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update shopping_address
    set del_flag='1'
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="com.fansfunding.user.entity.ShoppingAddress" >
    insert into shopping_address (user_id, province, 
      city, district, address, phone,name,post_code,is_default,
      create_by, create_time, update_by, 
      update_time, del_flag)
    values (#{userId,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{postCode,jdbcType=INTEGER}, #{isDefault,jdbcType=INTEGER},
      #{createBy,jdbcType=VARCHAR}, now(), #{updateBy,jdbcType=VARCHAR}, 
      now(), #{delFlag,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fansfunding.user.entity.ShoppingAddress" >
    update shopping_address
    set user_id = #{userId,jdbcType=INTEGER},
      is_default=#{isDefault,jdbcType=INTEGER},
      phone=#{phone,jdbcType=VARCHAR},
      name=#{name,jdbcType=VARCHAR},
      post_code=#{postCode,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, user_id, province, city, district, address, create_by, create_time, update_by, 
    update_time, del_flag,phone,name,post_code,is_default
    from shopping_address
    where id = #{id,jdbcType=INTEGER}
    and del_flag='0'
  </select>
  
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, user_id, province, city, district, address, create_by, create_time, update_by, 
    update_time, del_flag, phone, name,post_code,is_default
    from shopping_address
    where user_id = #{id,jdbcType=INTEGER}
    and del_flag='0'
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, user_id, province, city, district, address, create_by, create_time, update_by, 
    update_time, del_flag, phone, name,post_code,is_default
    from shopping_address
    where del_flag='0'
  </select>
</mapper>