<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fansfunding.user.dao.UserMomentLikeDao" >
  <resultMap id="BaseResultMap" type="com.fansfunding.user.entity.UserMomentLike" >
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="moment_id" property="momentId" jdbcType="INTEGER" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
  </resultMap>
  
  <update id="deleteByPrimaryKey" parameterType="com.fansfunding.user.entity.UserMomentLike" >
	delete from user_moment_like
		where moment_id=#{momentId} 
			and user_id=#{userId}
  </update>
  
  <insert id="insert" parameterType="com.fansfunding.user.entity.UserMomentLike" >
	insert into user_moment_like(moment_id,user_id) values(#{momentId},#{userId})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.fansfunding.user.entity.UserMomentLike" >

  </update>
  
  
  <select id="selectByMomentId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
		select uml.user_id,u.nickname
			from user_moment_like uml,user u
			where uml.moment_id=#{momentId,jdbcType=INTEGER}
			and uml.user_id=u.id
  </select>
  
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.fansfunding.user.entity.UserMomentLike" >
		select user_id,moment_id 
			from user_moment_like
			where user_id=#{userId} 
				and moment_id=#{momentId}
  </select>
  
  
  
  
  
</mapper>