<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fansfunding.fan">

    <uses-sdk tools:overrideLibrary="dmax.dialog" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:name="com.fansfunding.app.App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- 主界面 -->
        <activity android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 分类目录界面 -->
        <activity android:name=".CategoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.CATEGORY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 我的项目界面 -->
        <activity android:name=".user.project.activity.MyProjectActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.USER.PROJECT.ACTIVITY.PROJECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 登陆界面 -->
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert.Red">
            <intent-filter>
                <action android:name="android.intent.action.FANS.LOGIN.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 项目详情 -->
        <activity android:name=".project.activity.ProjectDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.PROJECT.ACTIVITY.PROJECTDETAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 项目评论详情 -->
        <activity android:name=".project.activity.ProjectDetailCommentActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.PROJECT.ACTIVITY.PROJECTDETAILCOMMENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 发表评论 -->
        <activity
            android:name=".project.activity.ProjectCommentActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.FANS.PROJECT.ACTIVITY.PROJECTCOMMENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 项目支持 -->
        <activity android:name=".project.activity.ProjectSupportActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.PROJECT.ACTIVITY.PROJECTSUPPORT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 聊天界面 -->
        <activity
            android:name=".message.activity.ChatActivity"
            android:windowSoftInputMode="adjustResize"
            >
          <intent-filter>
              <action android:name="android.intent.action.FANS.CHAT"/>
              <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
        </activity>


        <!-- 动态详情 -->


        <!-- 搜索界面 -->
        <activity android:name=".search.activity.SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.SEARCH.ACTIVITY.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 设置界面 -->

        <activity android:name=".SettingActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.SETTING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 我的订单界面 -->
        <activity android:name=".user.order.activity.MyOrderActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.USER.ORDER.ACTIVITY.MYORDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 地址管理界面 -->
        <activity
            android:name=".AddressActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.FANS.ADDRESS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddressManagmentAty"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.FANS.ADDRESSMANAGEMENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 账号和密码设置页面 -->
        <activity android:name=".SettingAccountActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.SETTINGACCOUNT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 用户信息修改界面 -->
        <activity android:name=".UserInfoActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.USERINFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 修改密码界面 -->
        <activity
            android:name=".ResetPasswordActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert.Red">
            <intent-filter>
                <action android:name="android.intent.action.FANS.RESETPASSWORD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微博授权界面 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- 阿里云 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <!-- 发起项目界面 -->
        <activity android:name=".project.activity.CreateProjectActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.CREATEPROJECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 发起动态界面 -->
        <activity android:name=".project.activity.ProjectPublishDynamicActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.PUBLISHDYNAMIC" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 查看大图 -->
        <activity android:name=".utils.BigPictureActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.UTILS.BIGPICTURE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 确认订单界面订单 -->
        <activity android:name=".project.activity.ProjectOrderEnsureActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.PROJECT.ACTIVITY.PROJECTORDERENSURE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 支付成功界面 -->
        <activity android:name=".project.activity.PaySuccessActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.PROJECT.ACTIVITY.PAYSUCCESS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 订单详情界面 -->
        <activity android:name=".user.order.activity.OrderDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.USER.ORDER.ACTIVITY.ORDERDETAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 项目富文本界面 -->
        <activity android:name=".project.activity.ProjectDetailWebActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.PROJECT.ACTIVITY.PROJECTDETAILWEB" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 项目支持者列表界面 -->
        <activity android:name=".project.activity.ProjectSupportListActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.PROJECT.ACTIVITY.PROJECTDETAILSUPPORTERLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 用户动态详情界面 -->
        <activity android:name=".social.activity.MomentActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.SOCIAL.ACTIVITY.MOMENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 发送用户动态界面 -->
        <activity android:name=".social.activity.MomentSendActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.SOCIAL.ACTIVITY.MOMENTSEND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 用来选择用户动态所要展示的项目 -->
        <activity android:name=".social.activity.MomentSelectProjectActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.SOCIAL.ACTIVITY.MOMENTSELECTPROJECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 个人主页界面 -->
        <activity android:name=".user.info.activity.HomepageActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.USER.ACTIVITY.HOMEPAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



        <activity android:name=".social.activity.MomentProjectActivity"></activity>
        <!--友盟分享-->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />

        <!-- 设置友盟appid -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57ac3ee767e58eaea10016a8" />

        <!-- 微博平台 -->

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false" />

        <!-- 微信平台 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 腾讯平台 -->
        <!-- tencent -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105527311" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />
        <uses-library android:name="android.test.runner" />

        <!-- 监听网络状态改变的广播接收器 -->
        <receiver
            android:name=".message.BroadcastReceiver.NetWorkStatusReceiver"
            android:label="NetWorkStatus">
            <intent-filter>
                <action android:name="android.intent.action.CONFIGURATION_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- WebSocket连接服务 -->
        <service android:name=".message.service.PushService" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- 数据库名和版本号 -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="Push.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <!-- 个人动态展示界面 -->
        <activity android:name=".user.info.activity.UserMomentListActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.USER.INFO.ACTIVITY.USERMOMENTLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 个人关注展示界面 -->
        <activity android:name=".user.info.activity.UserFollowingActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.USER.INFO.ACTIVITY.USERFOLLOWING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--个人粉丝展示界面-->
        <activity android:name=".user.info.activity.UserFollowerActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.USER.INFO.ACTIVITY.USERFOLLOWER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--指定Model类，加快应用的启动速度-->
        <meta-data
            android:name="AA_MODELS"
            android:value="com.fansfunding.fan.message.model.Notifications,com.fansfunding.fan.message.model.Message,com.fansfunding.fan.message.model.Comments,com.fansfunding.fan.message.model.Content"
            />

    </application>

</manifest>