<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fansfunding.fan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- 主界面 -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 分类目录界面 -->
        <activity android:name=".CategoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.CATEGORY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 我的项目界面 -->
        <activity android:name=".MyProjectActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.PROJECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 登陆界面 -->
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert.Red">
            <intent-filter>
                <action android:name="android.intent.action.FANS.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 我的动态界面 -->
        <activity android:name=".NewsActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.NEWS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 个人主页 -->
        <activity android:name=".HomepageActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.HOMEPAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 项目详情 -->
        <activity android:name=".ProjectDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.PROJECTDETAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 项目评论详情 -->
        <activity android:name=".ProjectDetailCommentActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.PROJECTDETAILCOMMENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 发表评论 -->
        <activity android:name=".ProjectCommentActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.PROJECTCOMMENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--项目支持-->
        <activity android:name=".ProjectSupportActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.PROJECTSUPPORT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <!-- 聊天界面 -->
        <activity android:name=".ChatActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.CHAT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 动态详情 -->
        <activity android:name=".NewsDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.NEWSDETAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 搜索界面 -->
        <activity android:name=".SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 手机登陆界面 -->
        <activity android:name=".LoginByPhoneActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.LOGINBYPHONE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 手机注册界面 -->
        <activity android:name=".RegisterByPhoneActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.REGISTERBYPHONE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 找回密码界面 -->
        <activity android:name=".ForgetPasswordActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.FORGETPASSWORD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 设置界面 -->

        <activity android:name=".SettingActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.SETTING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 地址管理界面 -->
        <activity android:name=".AddressActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.ADDRESS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 账号和密码设置页面 -->
        <activity android:name=".SettingAccountActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.SETTINGACCOUNT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 用户信息修改界面 -->
        <activity android:name=".UserInfoActivity">
            <intent-filter>
                <action android:name="android.intent.action.FANS.USERINFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 修改密码界面 -->
        <activity
            android:name=".ResetPasswordActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert.Red">
            <intent-filter>
                <action android:name="android.intent.action.FANS.RESETPASSWORD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微博授权界面 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>