$color_main: #ff6268;
$color_second: #57bff3;
$color_logo: #ffffff;
$color_nav: #ffffff;



$color_profile_dropdown_font: #000000;
$color_profile_dropdown_arrow: #ffffff;
$color_profile_dropdown_background: #ffffff;
$color_profile_dropdown_background_hover: #eeeeee;
